[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cltk = "*"
treetagger-python = {git = "ssh://git@github.com/mromanello/treetagger-python.git", editable = true}
pycollatinus = "*"
tqdm = "*"
tabulate = "*"
"py2neo" = "*"


[dev-packages]

jupyter = "*"
jupyter-contrib-nbextensions = "*"


[requires]

python_version = "3.6"
